.about {
    margin: 0 auto;
    max-width: 1200px;
  }
  
  .mission-statement {
    text-align: center;
    padding: 2rem 0;
  }
  
  .team {
    text-align: center;
    padding: 2rem 0;
  }
  
  .team-members {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .team-member {
    width: 300px;
    padding: 1rem;
  }
  
  @media screen and (max-width: 767px) {
    .team-members {
      flex-direction: column;
      align-items: center;
    }
  }
  