.add-course-container {
    margin: 2rem;
  }
  
  .add-course-container input,
  .add-course-container textarea,
  .add-course-container select {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .buttons {
  
    justify-content: space-between;
   
  }
  
 