.container {
  height: 400px;
  /* background-color: rgb(190, 178, 207); */
  background-image: url('/public/images/bck.gif');

}

.chip-container {
  height: 40px;
  /* background-color: chartreuse; */
  display: flex;
  align-items: center;
  justify-content: center;
}