footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    background-color: #333333;
  }
  
  footer a {
    margin-right: 15px;
  }
  
  footer a:last-child {
    margin-right: 0;
  }
  