.user-profile {
    text-align: center;
  }
  
  /* .avatar {
    position: relative;
    display: inline-block;
  } */

  .tabs {
    margin: 1rem 0;
    }
    
    .tabs button {
    background-color: transparent;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    }
    
    .tabs button.active {
    color: #6366F1;
    border-bottom: 2px solid #6366F1;
    border-radius: 5px;
    }

    .tabs button:hover {
    background-color: #e8e5e5;
    border-radius: 5px;
    }

    .tab-content {
    padding: 1rem;
    }